@model ServiceContracts.DTO.OrderResponse

<div class="border-bottom mt ml">
	<div>
		<b>@Model.StockName (@Model.StockSymbol)</b>
	</div>
	<h4>
		<b>@Model.Quantity</b> 
		<span class="text-grey">shares at $</span> <b>@Model.Price.ToString(CultureInfo.InvariantCulture)</b>
	</h4>
	<h4 class="mt">
		<span class="text-grey">Trade Amount: $</span>
		<b>@Model.TradeAmount.ToString(CultureInfo.InvariantCulture)</b>
	</h4>

	<h3 class="mt text-grey">@Model.DateAndTimeOfOrder.ToString("dd MMMM yyyy hh:mm:ss tt", CultureInfo.InvariantCulture)</h3>
</div>
